Source: doh101
Section: net
Priority: optional
Maintainer: Andreas Schulze <debian@andreasschulze.de>
Uploaders: Bauknecht <ci@andreasschulze.de>
Build-Depends: cdbs
 , debhelper (>= 10)
 , lintian
Standards-Version: 3.9.8
Homepage: https://github.com/fanf2/doh101

Package: doh101
Architecture: all
Depends: ${misc:Depends}
 , dv-nginx-mod-http-lua | libnginx-mod-http-lua
Description: DNS-over-HTTPS using OpenResty, from the IETF 101 Hackathon
 This is a DNS-over-HTTPS Server developed by Tony Finch. It's intended to
 be run as Lua Application from NGINX to provide a DoH Server URL similar to
 https://doh.example.org/dns-query

Package: doh101-utils
Architecture: all
Depends: ${misc:Depends}
 , libwww-perl
 , libmime-base64-perl
 , libnet-dns-perl
 , libdata-hexdumper-perl
Description: DNS-over-HTTPS using OpenResty, from the IETF 101 Hackathon - utils
 This is a DNS-over-HTTPS Server developed by Tony Finch. It's intended to
 be run as Lua Application from NGINX to provide a DoH Server URL similar to
 https://doh.example.org/dns-query
 .
 This package provide DoH and DoT clients.
